{% extends "invoicer/dashboard_base.html" %}
{% load static %}

{% block title %}Invoices List - Invoicer{% endblock %}
{% block og_title %}Invoices List - Invoicer{% endblock %}
{% block meta_description %}Invoices list in the Invoicer app{% endblock %}
{% block og_image %}{% static "assets/automagic-developer.jpg" %}{% endblock %}

{% block dashboard_content %}

    <style>
        #invoices_list {
            background-color: var(--skin-color);
        }
    </style>

    <div class="site-padding">
        <div class="card my-5 dashboard-card">
        <div class="card-header" style="position:relative;">
            <h5 class="card-title skin-color mt-2 fs-6">
                Invoices ({{ invoices|length }} Invoice{{ invoices|length|pluralize:"s" }})
            </h5>
            <div class="card-actions" style="position: absolute; right: 10px; top: 16px;">
                <a href="{% url "invoicer:create_invoice" %}">
                    <button class="m-0 btn btn-success btn-sm btn-skin" data-bs-target="#add-client-modal"
                            data-bs-toggle="modal" style="margin-top:-7px!important; background: #FF3C00; color: #fff;"
                            type="button">
                        Add Invoice
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table w-100 table-striped">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Client Name</th>
                    <th>Company</th>
                    <th>Created</th>
                    <th>Due</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr>
                            <td data-title="ID">{{ invoice.invoice_number }}</td>
                            <td data-title="Title">{{ invoice.title }}</td>
                            <td data-title="Client Name">{{ invoice.client.first_name }} {{ invoice.client.last_name }}</td>
                            <td data-title="Company">
                                {% if invoice.client.company %}
                                    {{ invoice.client.company }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td data-title="Created">{{ invoice.created_date|date:"F j, Y" }}</td>
                            <td data-title="Due">{{ invoice.due_date|date:"F j, Y" }}</td>
                            <td data-title="Amount">{{ invoice.get_total_price }}</td>
                            <td data-title="Currency">{{ invoice.currency }}</td>
                            <td data-title="Status">
                                {% if invoice.status == "Paid" %}
                                    <span class="bg-success text-white py-0 px-1">Paid</span>
                                {% elif invoice.status == "Overdue" %}
                                    <span class="bg-danger text-white py-0 px-1">Overdue</span>
                                {% elif invoice.status == "Pending" %}
                                    <span class="bg-warning text-white py-0 px-1">Pending</span>
                                {% else %}
                                    <span class="py-0 px-1">{{ invoice.status }}</span>
                                {% endif %}
                            </td>
                            <td class="actions" data-title="Actions">
                                <div class="d-flex">

                                    <!-- View Invoice -->
                                    <a class="me-3" href="{{ invoice.get_absolute_url }}" title="View"><i class="fas fa-eye text-secondary"></i></a>

                                    <!-- Export invoice -->
                                    <a class="me-3" target="_blank" href="{% url "invoicer:export_invoice" invoice.slug %}" title="Export"><i class="fas fa-file-export text-success"></i></a>

                                    <!-- Update Invoice -->
                                    <a href="{% url "invoicer:update_invoice" invoice.slug %}" title="Edit" class="me-3"><i
                                        class="fas fa-pencil-alt text-warning"></i></a>

                                    <!-- Delete Invoice -->
                                    <button class="border-0 bg-transparent skin-color"
                                            data-bs-target="#modalDeleteInvoice-{{ invoice.id }}" data-bs-toggle="modal"
                                            type="button" title="Delete">
                                        <i class="far fa-trash-alt text-danger"></i>
                                    </button>
                                    <!-- Modal: Delete Invoice -->
                                    <div id="modalDeleteInvoice-{{ invoice.id }}" aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                                <h1 class="modal-title fs-6 text-white" id="exampleModalLabel">Delete Invoice?</h1>
                                                <button aria-label="Close" class="btn-close text-white" data-bs-dismiss="modal"
                                                        style="filter: brightness(0) invert(1);" type="button"></button>
                                            </div>
                                            <div class="modal-body fw-bold py-4">
                                                <div class="row">
                                                    <div class="col-3 text-center">
                                                        <i class="fa-solid fa-triangle-exclamation"
                                                           style="color: #ff0000; font-size: 3rem;"></i>
                                                    </div>
                                                    <div class="col-9 text-start">
                                                        <p class="fs-6 fw-normal mb-0 pb-0">
                                                            Are you sure that you want to delete this Invoice "{{ invoice.title }} ({{ invoice.invoice_number }})"?
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'invoicer:delete_invoice' invoice.id %}">
                                                    <button class="btn btn-danger" type="button">Delete</button>
                                                </a>
                                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}
