{% load static %}

<!-- Start call to action section -->
<section class="py-5" style="background-color: #FE5C29;">
    <div class="container site-padding">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h1 class="section title text-white my-0 d-inline">Get in Touch.</h1>
                <p class="fw-normal text-white mb-4 d-inline small">Whether you have a question or just
                    want to say hi, I’ll try my best to get back to you as soon as possible.</p>
            </div>
            <div class="col-lg-4 mt-3 mt-lg-0 text-center">
                <a href="">
                    <button type="button" class="btn btn-success btn-lg px-4 outline-btn text-white border-white">
                        Say Hi <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End call to action section -->
